.checkbox-container {
	width: 15px;
	height: 15px;
	border: 1px solid grey;
	border-radius: 3px;
	color: #0f9400;
	font-weight: bold;
	background-color: white;
	padding:3px 3px 0 0;
	line-height: 16px;
	cursor: pointer;
}
.checkbox-container__checked {
	width: 7px;
	height: 7px;
	margin: 4px auto auto;
	border-radius: 100%;
	background-color: #0f9400;
}
